{% load comments %}
<span class="comment">
    <a href="#" class="show_comment">reply</a>
    <form action="{% comment_form_target %}" method="post" class="hidden form-inline">
        {% csrf_token %}
        {% if next %}<input name="next" type="hidden" value="{{ next }}" />{% endif %}
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% endif %}
        {% endfor %}
        {% if not user.is_authenticated %}
        <input id="id_name" type="hidden" name="name" maxlength="50" value="anonymous">
        <input id="id_email" type="hidden" name="email" value="anon@example.com">
        {% endif %}
        <textarea id="id_comment" rows="1" cols="10" name="comment"></textarea>
        <button type="submit" class="btn">Comment</button>
    </form>
</span>
